@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



* {
    box-sizing: border-box;
}

#gameCanvas {    
    // background-color: rgb(138, 202, 255);
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.25);
}